<app-post-banner></app-post-banner>

<div class="container">
  <!-- Loading Spinner -->
  <div *ngIf="loading" class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Loading posts...</p>
  </div>

  <!-- Error Message -->
  <div *ngIf="error && !loading" class="error-container">
    <mat-icon color="warn">error</mat-icon>
    <p>{{ error }}</p>
    <button mat-raised-button color="primary" (click)="load()">Retry</button>
  </div>

  <!-- Data Table -->
  <div *ngIf="!loading && !error" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="story_title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element" class="title-cell"> 
          <a class="story-link" (click)="open_link(element.story_url)">
            <span class="story-title">{{element.story_title}}</span>
            <span class="story-author" *ngIf="element.story_author"> - {{element.story_author}} -</span>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | getDayReference}} </td>
      </ng-container>
      
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete_post(element)" 
                  matTooltip="Delete post" aria-label="Delete post">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;" class="table-row"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                   showFirstLastButtons 
                   aria-label="Select page of posts">
    </mat-paginator>
  </div>
</div>