table {
  width: 100%;
}
.mat-row{
  background-color: #fff;
  border: 1px #ccc
}
.mat-row:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.mat-flat-button{
  display: none;
}
.mat-row:hover .mat-flat-button{
  display: inline;
}
