<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" >
    
    <ng-container matColumnDef="story_tittle">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> <span style="cursor:pointer;" (click)="open_link(element.story_url)">
          <label style="color: #333; font-size: 13pt">{{element.story_title}}</label> by <label style="color: #999">{{element.story_author}}</label></span> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Create at </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element"><button mat-button (click)="delete_post(element)" ><i class="material-icons" >delete</i></button>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</div>