<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="story_tittle">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.story_tittle}} by </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef> Create at </th>
    <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>